<form action="" method="post">
  <fieldset>
      <legend>Dados</legend>
      <label for="nome">Nome</label>              <br>
      <input type="text" name="nome" id="nome" [(ngModel)]="nome" required>

      <br><br>

      <label for="sobrenome">Sobrenome</label>            <br>
      <input type="text" name="sobrenome" id="sobrenome" required>

      <br><br>

      <label for="cpf">CPF</label><br>
      <input type="text" name="cpf" id="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="coloque o cpf nessa sequencia xxx.xxx.xxx-xx">

      <br><br>

      <label for="numero">Numero de Dependentes</label>          <br>
      <input type="number" name="numero" id="numero" min="0" max="10" required>

      <br><br>

      <label for="email">Email</label>            <br>
      <input type="email" name="email" id="email" required>

      <br><br>

      <label for="data">Data</label>      <br>
      <input type="date" name="data" id="data" required>

      <br><br>

      <input type="submit" value="enviar">
  </fieldset>

</form>

<p>{{nome}}</p>
